.clickerLine{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 60px;
}
.mainBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 60px;
    padding-top: 60px;
    border: 1px solid;
}

.buttonPlus{
    background: green;
    padding: 10px 30px;
    font-size: 24px;
}

.buttonRefresh{
    background: orange;
    padding: 10px 30px;
    font-size: 24px;
}

.buttonMinus{
    background: red;
    padding: 10px 30px;
    font-size: 24px;
}

.counter{
    padding-bottom: 40px;
    font-size: 40px;
}
